<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ title }} | {{ VIEW_CONFIG["SITE_TITLE"] }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md bg-secondary">
        <div class="container-fluid"><a class="navbar-brand" href="/">{{ VIEW_CONFIG["SITE_TITLE"] }}</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Accounts</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Providers</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">People</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main style="padding-top: 10px;">
        <div class="container">
            <h1>{{ title }}</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a><span>{{ VIEW_CONFIG["SITE_TITLE"] }}</span></a></li>
                <li class="breadcrumb-item"><a><span>{{ title }}</span></a></li>
            </ol>
            {% block content %}{% endblock %}
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>