{% extends 'base.html' %}

{% block content %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Balance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.typ }}</td>
                <td>{{ account.balance }}</td>
                <td>View Details</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}